deserts
deserts/Vernot_2016_NEAdeserts_intersect_DENdeserts.bed
deserts/Skov_et_al_Supplementary_Dataset_S4_introgression_deserts.txt
deserts/Sankararaman_2016_NEA_deserts.bed
deserts/Skov_et_al_Supplementary_Dataset_S1_introgression_fragments.txt
deserts/Sankararaman_2016_DEN_deserts.bed
hs37d5_assembly_gaps.bed
introgression
introgression/Vernot_2016/introgressed_tag_snp_frequencies/all_tag_snps.SAS.merged.ALL.0.3_R2_cluster.1KG_phase3_essentials.bed
introgression/Vernot_2016/introgressed_tag_snp_frequencies/all_tag_snps.PNG.merged.ALL.0.3_R2_cluster.1KG_phase3_essentials.bed
introgression/Vernot_2016/introgressed_tag_snp_frequencies/all_tag_snps.EUR.merged.ALL.0.3_R2_cluster.1KG_phase3_essentials.bed
introgression/Vernot_2016/introgressed_tag_snp_frequencies/all_tag_snps.ASN.merged.ALL.0.3_R2_cluster.1KG_phase3_essentials.bed
PIBv1_Ambiguous_Sprime_tracts_noVanuatu_MRfilter_wGeneList.bed
PIBv1_Ambiguous_Sprime_tracts_OCNnoVanuatu_MRfilter_wGeneList.bed
PIBv1_Denisovan_Sprime_tracts_noVanuatu_MRfilter_wGeneList.bed
PIBv1_Denisovan_Sprime_tracts_OCNnoVanuatu_MRfilter_wGeneList.bed
PIBv1_Neandertal_Sprime_tracts_noVanuatu_MRfilter_wGeneList.bed
PIBv1_Neandertal_Sprime_tracts_OCNnoVanuatu_MRfilter_wGeneList.bed
PIBv1_OCNnoVanuatu_SprimeAlleles_alltracts_wAFs.tsv.gz
PIBv1_OCNnoVanuatu_SprimeAlleles_alltracts_wSprimeAFs.tsv.gz
PIBv1_OCNnoVanuatu_SprimeAlleles_Ambiguoustracts_wSprimeAFs.tsv.gz
PIBv1_OCNnoVanuatu_SprimeAlleles_Denisovantracts_wSprimeAFs.tsv.gz
PIBv1_OCNnoVanuatu_SprimeAlleles_Neandertaltracts_wSprimeAFs.tsv.gz
PIBv1_Sprime_corehaps_OCNnoVanuatu_wGeneList.bed
PIBv1_Sprime_putative_adaptive_introgressed_corehaps_OCNnoVanuatu_wGeneList.bed
PIBv1_Sprime_putative_adaptive_introgressed_tracts_OCNnoVanuatu_MRfilterBeforeTFfilter_wGeneList.bed
PIBv1_Sprime_tracts_noVanuatu_MRfilter_wGeneList.bed
PIBv1_Sprime_tracts_OCNnoVanuatu_MRfilter_wGeneList.bed
tiling_paths
tiling_paths/PIBv1_Neandertal_Sprime_OCN_tiling_paths_fromProjections_maxgap1000000.bed
tiling_paths/PIBv1_Neandertal_Sprime_nonOCN_tiling_paths_fromProjections_maxgap1000000.bed
tiling_paths/PIBv1_Ambiguous_Sprime_OCN_tiling_paths_fromProjections_maxgap1000000.bed
tiling_paths/PIBv1_Denisovan_Sprime_nonOCN_tiling_paths_fromProjections_maxgap1000000.bed
tiling_paths/PIBv1_Denisovan_Sprime_OCN_tiling_paths_fromProjections_maxgap1000000.bed
tiling_paths/PIBv1_Ambiguous_Sprime_nonOCN_tiling_paths_fromProjections_maxgap1000000.bed
