PIB92_SD_hs37d5_SNP_VQSR99.5_INDEL_VQSR99.0_dbSNP138_VQSRpass_nomissinggenos_autosomes_Ata_filteredSamples_filteredSNPs_fillAFs_nogeno.vcf.gz
PIB92_SD_hs37d5_SNP_VQSR99.5_INDEL_VQSR99.0_dbSNP138_VQSRpass_nomissinggenos_autosomes_Baining_filteredSamples_filteredSNPs_fillAFs_nogeno.vcf.gz
PIB92_SD_hs37d5_SNP_VQSR99.5_INDEL_VQSR99.0_dbSNP138_VQSRpass_nomissinggenos_autosomes_Lavongai_filteredSamples_filteredSNPs_fillAFs_nogeno.vcf.gz
PIB92_SD_hs37d5_SNP_VQSR99.5_INDEL_VQSR99.0_dbSNP138_VQSRpass_nomissinggenos_autosomes_Mamusi_filteredSamples_filteredSNPs_fillAFs_nogeno.vcf.gz
PIB92_SD_hs37d5_SNP_VQSR99.5_INDEL_VQSR99.0_dbSNP138_VQSRpass_nomissinggenos_autosomes_Melamela_filteredSamples_filteredSNPs_fillAFs_nogeno.vcf.gz
