PIB92_pilot_MPRA_variants_Sprime_NEADENgt0.3_PIBfreqgt0.3_gSD_35mer_filtered_SNPs_noarcREF_nospanningDEL_wAlleles_match_VariantID_TractID.tsv.gz
PIB92_pilot_MPRA_variants_Sprime_NEADENgt0.3_PIBfreqgt0.3_gSD_35mer_filtered_SNPs_noarcREF_nospanningDEL_wAlleles_filter_adaptive_TractID.tsv.gz
