S_Func_UKB_BBJ_Variants.xlsx
S_Func_UKB_BBJ_Variants.txt
S_Func_SpliceAI_Integrated.txt
S_Func_MPRA_Variants.txt
S_Func_MPRA_Variants.xlsx
S_Func_MPRA_Oligos.fasta.xlsx
S_Func_MPRA_Oligos.fasta
S_Func_Missense_LoF_SpliceAI_emVar_Enrichment.xlsx
S_Func_Missense_LoF_SpliceAI_emVar_Integrated.xlsx
S_Func_Missense_LoF_SpliceAI_emVar_Enrichment.txt
S_Func_Missense_Integrated.txt
S_Func_LoF_Integrated.txt
S_Func_Functional_Annotations_Variants.xlsx
S_Func_Functional_Annotations_Variants.txt
S_Func_emVar_Integrated.txt
S_Func_emVar_Gene_Enhancer_Links_Variants.xlsx
S_Func_emVar_Gene_Enhancer_Links_Variants.txt
S_Func_ClinVar_Variants.xlsx
S_Func_ClinVar_Variants.txt
S_Func_Archaic_Deserts.xlsx
S_Func_Archaic_Deserts.bed
