README.txt
PIB92_pilot_MPRA_final_oligos_inclControls_toOrder_SRc2.fasta.gz
PIB92_pilot_MPRA_final_oligos_inclControls_toOrder_SRc.fasta.gz
PIB92_pilot_MPRA_final_oligos_inclControls_toOrder_SRb2.txt.gz
PIB92_pilot_MPRA_final_oligos_inclControls_toOrder_SRb.txt.gz
PIB92_pilot_MPRA_final_oligos_inclControls_toOrder_SR.txt.gz
